body {
    background-color: #f7aeae;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

header {
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 90px;
    background-image: url(Recursos/FondoHeader.jpeg);
    opacity: 70%;
}

nav ul li a{
    font-family: 'Noto Serif Display', serif;
    font-size: large;
    color: rgb(0, 0, 0) ;
}
.button_nav a:hover {
    -webkit-text-stroke: 1px white;

    background-color: #fffafa4b;
}
.button_nav a:link{

      color: rgb(0, 0, 0);
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px solid white;
}

nav ul {
    display: flex;
    gap: 20px;
  }
  nav ul li{
    list-style-type:none;
  }
  
  .push-right {
    margin-left: auto;
  }

  .push-left {
    margin-right: auto;

  }
div.container {
    width: 1280px;
    margin: auto;
}

nav#navbar {
    width: 95%;
    min-height: 90px;
}

nav#navbar .logo {
    width: 60px;
    border-radius: 50%;
    align-self:stretch;
}

.Main {
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 25%;
    width: 900px;
    height: 1500px;
    background-color: #f7aeae;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

/*Minis*/
.Mini {
    flex: auto;
    margin-top: 5%;
    align-self: center  ;
    height: 300px;
    width: 400px;
    border: 15px solid #fffcfc;
}

#Seccion1 {
    background-image: url(Recursos/Muebles1.png);
    font-family: 'Noto Serif Display', serif;
    color: #f93cff ;
}

#Seccion2 {
    background-image: url(Recursos/Muebles2.png);
    font-family: 'Noto Serif Display', serif;
    color: #9eb41e ;
}

#Seccion3 {
    background-image: url(Recursos/Muebles3.png);
    font-family: 'Noto Serif Display', serif;
    color: #21fff4 ;
}

#Seccion4 {
    background-image: url(Recursos/Muebles4.png);
    font-family: 'Noto Serif Display', serif;
    color: #ff3c00 ;
}

#Seccion5 {
    background-image: url(Recursos/Muebles5.png);
    font-family: 'Noto Serif Display', serif;
    color: #2b158b ;
}

#Seccion6 {
    background-image: url(Recursos/Muebles6.png);
    font-family: 'Noto Serif Display', serif;
    color: #24170d ;
}

#Intermedio {
    width: auto;
    height: 200px;

    /*background-image: linear-gradient(#FFFAFA, rgb(228, 83, 83));*/
}

/*Footer*/
footer {
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    top: 50%;
    left: 50%;
    margin: auto;
    width: auto;
    height: 550px;
    background-image: url(Recursos/FondoHeader.jpeg);
}


div.InfoRes {
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

div.InfoRes h5 {
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

div.InfoRes h6 {
    font-size: 15px;
    color: black;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

a.Intro {
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

nav#navred img.Logo1 {
    height: 30px;
    width: 30px;
}

div.Contacto {
    display: block;
}

div.Contacto h4 {
    font-size: 30px;
    color: black;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

#Telefono {
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}
